/*  */
.home__heading-contain {
  text-align: center;
}
.home__heading-contain::after {
  left: 48%;
}
/* about top */
.aboutus__top {
  padding: 8rem 1.5rem 4rem;
}
.aboutus__top-content {
  margin-top: 10rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  font-family: var(--font-family1);
}
.aboutus-top__content-item h4 {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.8rem;
  margin-left: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.aboutus-top__content-item {
  margin-bottom: 4rem;
}
.aboutus-desc {
  color: #777;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
}
.aboutus__top-right-side {
  text-align: right;
}
.our-work {
  background-color: #f8f8f8;
  padding: 6rem 1.5rem;
}
.our-work__details {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.our-work__item {
  text-align: center;
  font-family: var(--font-family1);
}
.our-work__item i {
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  border-radius: 50%;
  color: white;
}
.our-work__item h4 {
  color: #222;
  font-size: 4rem;
  margin: 1.5rem 0 0.8rem;
}
.our-work__item p {
  color: #777;
}
.our-work__item span {
  font-size: 2.5rem;
}
.our-work__item:nth-of-type(1) i {
  background-color: var(--second-color);
}
.our-work__item:hover .fa-2x {
  background-color: transparent;
  box-shadow: inset 0 0 8px rgb(76, 176, 223);
  color: var(--second-color);
}

.our-work__item:nth-of-type(2) i {
  background-color: rgb(240, 121, 23);
}
.our-work__item:nth-of-type(3) i {
  background-color: rgb(99, 11, 69);
}
.our-work__item:nth-of-type(4) i {
  background-color: rgb(59, 11, 99);
}
/* why-choseus */
.why-choseus,
.our-work,
.our-partner {
  margin: 6rem 0 4rem;
}
.why-choseus {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.why-choseus__details {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.why-choseus__thumbnail {
  border-bottom: 5px solid var(--primary-color);
}
.why-choseus__content {
  font-family: var(--font-family1);
  padding: 1.5rem 0;
}
.why-choseus__content h4 {
  position: relative;
  font-size: 1.6rem;
  color: #222;
  padding-bottom: 1rem;
}
.why-choseus__content h4::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 4rem;
  background-color: var(--second-color);
}
.why-choseus__content p {
  margin-top: 1.5rem;
  line-height: 1.6;
  color: #777;
  font-weight: 300;
  font-size: 1.5rem;
}
/* our partner */
.our-partner {
  margin-bottom: 10rem;
}
.our-partner__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.our-partner__item {
  padding: 0 2rem;
}
.our-partner__item img {
  opacity: 0.7;
}
.our-partner__item img:hover {
  opacity: 1;
}
/* fix our sletter */
.our-sletter-form {
  padding-right: 1.5rem;
}
@media only screen and (max-width: 950px) {
  .aboutus__top-content {
    grid-template-columns: 1fr;
  }
  .aboutus-top__content-item {
    text-align: right;
  }
  .aboutus__top-center img {
    width: auto;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 830px) {
  .our-sletter-form {
    padding-left: 1.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .aboutus__top-center img {
    max-width: 30rem;
  }
}
